<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <intuit>
    <ipp>
      <!--Json serialization not supported in PHP SDK v1.0.0 -->
      <message>
        <request serializationFormat="Json" compressionFormat="None"/>
        <response serializationFormat="Json" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://sandbox-quickbooks.api.intuit.com/v3/"/>
      </service>
    </ipp>
  </intuit>
  <appSettings>
    <!--These samples use a hard-coded realm ID and OAuth tokens.  Enter the values below. -->
   	<add key="AccessToken" value="qyprd464yjbbj3wMzU8sHrBfENwo0xSJ1SJo61BgWEOk9vFv" />
    <add key="AccessTokenSecret" value="RKnASnTDbX6MYNgQ96mMmpotpwGoeS1K4TtHtJk2" />
    <add key="ConsumerKey" value="qyprd4PP0AFO0aUjHO3ONEtv77gy3S" />
    <add key="ConsumerSecret" value="27NgmO9Gf5OpQb9u1XTA5glgebwpRQvG3b1A5Z1J" />
    <add key="RealmID" value="1422925035" />
  </appSettings>
</configuration>